<h1>Admin Products</h1>

<%= link_to 'New Product', new_admin_product_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>image</th>
    <th>Stock</th>
    <th>Actions</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= number_to_currency(product.price_cents / 100.0) %></td>
      <td><%= image_tag product.image, width: 60 %></td>
      <td><%= product.stock %></td>
      <td>
      <%= link_to 'Show', admin_product_path(product) %> |
      <%= link_to 'Edit', edit_admin_product_path(product) %> |
      <%= button_to 'Delete', admin_product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>






